---
layout: default
---

<section>
  <div class="grid pad-t-2">
    <div class="unit unit-xs-1 unit-m-1-2 unit-l-1-2 pad-t-2">
    {% for project in site.projects %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 0 %}
        {% include project-item.html project=project %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="unit unit-xs-1 unit-m-1-2 unit-l-1-2">
    {% for project in site.projects %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 1 %}
        {% include project-item.html project=project %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</section>

<section class="wrapper gutter pad-t-1-2">
  <p>
    Hi, my name is Janelle Zhao and I am a graphic designer from Ottawa, Canada. I am most interested in identity and interaction design.
  </p>

  <h2>education</h2>
  <dl>
    <dt>09-13</dt><dd>  Bachelor of Arts in Psychology</dd>
    <dt>16-19</dt><dd>  Diploma in Graphic Design</dd>
  </dl>

  <h2>work</h2>
  <dl>
    <dt>12-13</dt><dd>  Marketing Intern at Fluidsurveys</dd>
    <dt>13-16</dt><dd>  Marketing and Branding at Fullscript</dd>
  </dl>

  <p>At the core of my education, work, and interests lies my obsession with understanding human perception and using those insights to design something useful, delightful and meaningful.</p>
  <p>Besides that, I’m into food culture. I make pottery in my spare time. And my cat is sitting on my hand as I type this.</p>

  {% include footer.html %}

</section>
