---
layout: default
title: home
---

<section>
  <div class="grid pad-t-2">
    <div class="unit unit-xs-1 unit-m-1-2 unit-l-1-2 pad-t-2">
    {% for project in site.projects %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 0 %}
        {% include project-item.html project=project %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="unit unit-xs-1 unit-m-1-2 unit-l-1-2">
    {% for project in site.projects %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 1 %}
        {% include project-item.html project=project %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</section>

{% include footer.html %}
