html.sr .load-hidden {
    visibility: hidden;
}

html {
  font-size: 100%;
  font-family: "BasisGrotesque",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
}

footer {
  padding-bottom: 2rem;
  padding-top: 5rem;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -10em;
  background-color: #FAF3A2;
  color: #000;
  padding: 0.5em 0.75em;
  font-weight: 500;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

p {
  font-size: 1.15rem;
  line-height: 1.5;
  margin: 0
}

h2 {
  text-transform: uppercase;
  font-weight: normal;
}

h3 {
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

h5 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0;
}

.logo-mobile {
  display: inline-block;
  font-weight: 500;
  font-size: 2rem;
}

.logo-wide {
  display: none;
}

a {
  text-decoration: none;
  transition: color 200ms linear;
  color: black;
}

a:hover {
  color: #989898 !important;
}

a:visited {
  color: inherit;
}

a:focus {
  outline: 1;
}

.pad-r {
  padding-right: 3rem;
}

.nav ul {
  font-size: 1rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav a {
  padding: 0.5rem .5rem;
}

.nav a:link {
  text-decoration: none;
  color: black;
}

.nav a.active span {
  padding: 0.5rem 0;
  border-bottom: 0 solid #FAF3A2;
}

.site-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  max-width: 80rem;
  margin: 0 auto;
}

.hire-me {
  position: fixed;
  display: none;
  width: 7rem;
  height: 7rem;
  margin: 0 .7rem .7rem 0;
  pointer-events: auto;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.1));
  transition: transform 200ms ease-out;
}

.hire-me span {
  background-image: url('{{ site.baseurl }}/images/worktogether.svg');
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  width: 7rem;
  height: 7rem;

}

.hire-me:hover {
  transform: rotate(40deg);
}

.arrow {
  max-width: 15px;
}

.main {
  margin: 0;
}

figure .media-img {
  position: relative;
}

figure img {
  transition: opacity 400ms linear;
}

figure img.hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
}

figure a:hover img {
  opacity: 0;
}

figure a:hover img.hover {
  opacity: 1;
}

figcaption {
  text-decoration: none;
}

aside {
  font-size: 1rem;
}

.smallwidth {
  max-width: 750px;
}

.smallerwidth {
  max-width: 649px;
}

.drop-shadow {
  box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.03);
}

.about-content {
  font-size: 1.4rem;
}

.about-content span {
  font-size: 1rem;
  padding-left: 2rem;
}

.big {
  font-size: 1.7rem;
  line-height: 1.5;
  font-weight: normal;
}

.link-underline {
  padding-bottom: 3px;
  border-bottom: 1px solid black;
}

.link-underline:hover {
  border-color: #989898 !important;
}

.highlight {
  background-color: #FAF3A2;
}

.space-between {
  padding-right: 0;
}

.project-text {
  padding: 2rem 1rem;
}

hr {
  border-top: 1px solid black;
}

.about-content {
  margin: auto;
}

.push-more {
  margin-bottom: 2.5rem;
}

.pad-left {
  padding-left: 0;
}

.pad-top-more {
  padding-top: 2.5rem;
}

.push-mobile {
  margin-bottom: 2.8rem;
}

.push-0-mobile {
  margin-bottom: 0;
}

.gutter-custom {
  padding-left: 1rem;
  padding-right: 1rem;
}

.text-center-web {
  text-align: left;
}

@media only screen and (min-width: 38em) {

  body {
    padding: 1.5rem;
  }

  .site-nav {
    margin: 0 auto;
  }

  .nav a {
    padding: 0.5rem;
  }

  .nav a.active span {
    border-bottom: 0.2rem solid #EAEB36;
  }

  .logo-mobile {
    display: none;
  }

  .logo-wide {
    display: inline-block;
    font-weight: 500;
    font-size: 2rem;
  }

  .banner {
    margin: 3rem 0 4rem;
    max-width: 65rem;
  }

  .big {
    font-size: 2rem;
  }

  aside {
    padding-left: 2rem;
    margin-top: 0;
  }

  .about-content p {
    font-size: 1.6rem;
  }

  .space-between {
    padding-right: 1rem;
  }

  .project-text {
    padding: 4rem 10rem;
  }

  .nav ul {
    font-size: 1.35rem;
  }

  .push-mobile {
    margin-bottom: 0;
  }

  .push-0-mobile {
    margin-bottom: 1rem;
  }

  .pad-top-more {
    padding-top: 4rem;
  }

  .push-more {
    margin-bottom: 4rem;
  }

  .text-center-web {
    text-align: center;
  }
}

@media only screen (min-width: 60em) and (max-height: 40em) {

  body {
    padding: 1rem;
  }
}

@media only screen and (min-width: 60em) {

  .big {
    font-size: 2.3rem;
  }

  .hire-me {
    display: block;
    bottom: 1.5rem;
    right: 1.5rem;
  }

  body {
    padding: 2.6rem;
  }

  h3 {
    font-size: 1.35rem;
  }

  .main {
    margin: 2rem auto 0;
    max-width: 80rem;
  }

  p {
    font-size: 1.35rem;
    line-height: 1.5;
  }

  .about-content {
    padding: 0 1rem;
  }

  .about-content p {
    font-size: 1.9rem;
  }

  .space-between {
    padding-right: 1.5rem;
  }

  .text-limit {
    max-width: 35rem;
  }

  .pad-left {
    padding-left: 2.5rem;
  }

  .wrapper-small {
    max-width: 68rem;
    margin: 1rem auto;
  }

  .pad-top-more {
    padding-top: 5rem;
  }

  .push-more {
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 90em) {

  .hire-me {
    bottom: 3rem;
    right: 3rem;
  }

  .big {
    font-size: 2.6rem;
  }

  .space-between {
    padding-right: 3rem;
  }

  .project-text {
    padding: 5rem 12rem;
  }

}
