html {
  font-family: "aktiv-grotesk-extended",sans-serif;
  -webkit-font-smoothing: antialiased;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

h1 {
  font-family: "aktiv-grotesk-extended",sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1.3;
}

h2 {
  font-family: "aktiv-grotesk-extended",sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.site-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  width: 22%;
  max-width: 21rem;
}

.site-nav header {
  border-bottom: 2px solid black;
}

.site-nav nav {
  font-size: 1.8rem;
  flex-basis: 100%;
  flex-grow: 1;
}

.site-nav .sosh {
  border-top: 2px solid black;
  text-transform: uppercase;
  line-height: 2;
}

.site-nav a:link {
  text-decoration: none;
  color: black;
}

.nav li a:visited {
  text-decoration: none;
}

.nav li a:hover {
  color: blue;
}

.nav li a:active {
  text-decoration: none;
}

#main {
  margin-left: 16rem;
  margin-right: 2rem;
}
