@font-face {
  font-family: 'BasisGrotesqueRegular';
  src: url('./fonts/basis-grotesque-regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/basis-grotesque-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/basis-grotesque-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/basis-grotesque-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/basis-grotesque-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html {
  font-family: "BasisGrotesqueRegular",sans-serif;
  -webkit-font-smoothing: antialiased;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

h1 {
  font-family: "BasisGrotesqueRegular",sans-serif;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 1.3;
}

h2 {
  font-family: "BasisGrotesqueRegular",sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.site-nav {
  position: fixed;
  top: 4rem;
  left: 0.6rem;
  bottom: 0.6rem;
  right: 0.6rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 20rem rgba(255, 255, 255, 0.6);
  pointer-events: none;
  justify-content: flex-end;
}

.site-nav header {
  position: absolute;
  bottom: 100%;
  margin-bottom: 0;
}

.site-nav nav {
  font-size: 1.7rem;
  flex-basis: 100%;
  flex-grow: 1;
}

.site-nav nav a {
  position: relative;
  transition: all 200ms ease-out;
  pointer-events: auto;
  display: inline-block;
  margin-left: -1.5rem;
}

.site-nav nav a::before {
  opacity: 0;
  transition: all 200ms ease-out;
  background-image: url('{{ site.baseurl }}/images/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.5rem;
  height: 1rem;
  display: inline-block;
  content: " ";
  padding-right: 1rem;
  pointer-events: none;
}

.site-nav nav a:hover {
  transform: translateX(1.5rem);
}

.site-nav nav a:hover::before {
  opacity: 1;
}

.site-nav .sosh {
  text-transform: uppercase;
  line-height: 2;
}

.nav a:link {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 60em) {
  .site-nav {
    margin: 2rem;
  }
}

#main {
  margin-left: 16rem;
  margin-right: 2rem;
}
