<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Janelle Zhao</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.5/scrollreveal.min.js" integrity="sha256-8VU/+18Z5eyYrv12HuV6lH74T2PFmP1ggKi+JkwYDHE=" crossorigin="anonymous"></script>
</head>
<body>

  <section class="site-nav">
    <header class="island-1-2 gutter">
      <a class="logo" href="{{ site.baseurl }}/">Janelle Zhao</a>
    </header>

    <a href="mailto:hi@zhaojanelle.com" id="hire-me" class="hire-me"><span>Hire Me</span></a>

    <ul class="nav sosh list-group">
      <li><a href="https://instagram.com/zhaojanelle" target="_blank">Instagram</a></li>
      <li><a href="https://twitter.com/zhaojanelle" target="_blank">Twitter</a></li>
      <li><a href="https://linkedin.com/zhaojanelle" target="_blank">LinkedIn</a></li>
    </ul>
  </section>

  {% include nav.html %}

  <main id="main" class="main push-2" role="main">
    {{ content }}

  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js" integrity="sha256-AJvwDTgx+2JZWtsg4XDtKI2KFXST+2AosYiLBYde2PM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js" integrity="sha256-BCkpwV5o3ac9GC/aFo4/lgrzwRHvUNJaacC42YZSkKw=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.min.js" integrity="sha256-hzFNvfa40yrwN2f2YvKFEMOM7ooIaoX9fJwVomCFcBk=" crossorigin="anonymous"></script>
  <script>
    const hireMe = document.querySelector('.hire-me span');
    window.onscroll = function() {
      hireMe.style.transform = 'rotate(' + Math.floor(window.scrollY / 10) + 'deg)';
    };

    ScrollReveal({
      distance: '30px',
      duration: 1000,
    }).reveal('figure.media');

    {% if layout.projects %}
      ScrollReveal({
        distance: '30px',
        duration: 1000,
      }).reveal('.main img');
    {% endif %}
  </script>
</body>
</html>
