<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Janelle Zhao</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="stylesheet" href="https://use.typekit.net/kvc7fab.css">
</head>
<body>

  <section class="site-nav">
    <header class="island-1-2 gutter">
      <h1 class="push-none">Janelle Zhao</h1>
    </header>

    <ul class="nav sosh list-group">
      <li><a href="https://instagram.com/zhaojanelle">Instagram</a></li>
      <li><a href="https://twitter.com/zhaojanelle">Twitter</a></li>
      <li><a href="https://linkedin.com/zhaojanelle">LinkedIn</a></li>
    </ul>
  </section>

  {% include nav.html %}

  <main id="main" role="main">
    {{ content }}
  </main>
</body>
</html>
